@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="AppCtrl">
    <md-toolbar style="background-color: gray" class="mycontent" flex layout="column" ng-controller="ToolbarController">
        <div class="md-toolbar-tools">
            <div class="demo-md-panel-content">
                <md-button style="margin-left: auto; color: white; border: solid" ng-click="showPanel()">
                    <h1>Wyszukaj przystanki</h1>
                </md-button>
            </div>
            <md-button ng-click="toggleSidenav('left-side-nav')" class="md-raised" style="margin-left: auto">
                <strong>Zaplanuj podróż</strong>
            </md-button>
            @*<md-button ng-click="toggleSidenav('right-side-nav')" style="margin-left: auto; color:white; border: solid">
                <h1>Moje podróże</h1>
            </md-button>*@
            <span flex></span>
            @*<md-button style="margin-left: auto; color:white; border: solid">
                <h1>Login</h1>
            </md-button>
            <md-button style="margin-left: auto; color: white; border: solid">
                <h1>Help</h1>
            </md-button>*@

        </div>
    </md-toolbar>

    <ng-include ng-controller="PlanController" src="'Templates/travelPlan.html'"></ng-include>  
   
    

    <div id="mapid" style="position: fixed" ng-controller="MapController">
    </div>

</div>