

<md-toolbar style="background-color: gray;" class="mycontent" flex layout="column">
	<div class="md-toolbar-tools">
		<md-button style="margin-left: auto; color:white; border: solid">
			<h1>Wyszukaj przystanki</h1>
		</md-button>
		<md-button ng-click="toggleSidenav()" class="md-raised" style="margin-left: auto">
			<strong>Zaplanuj podróż</strong>
		</md-button>
		<md-button style="margin-left: auto; color:white; border: solid">
			<h1>Moje podróże</h1>
		</md-button>
		<span flex></span>
		@*<md-button class="md-icon-button" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
		</md-button>*@
		<md-button style="margin-left: auto; color:white; border: solid">
			<h1>Login</h1>
		</md-button>
		<md-button style="margin-left: auto; color:white; border: solid">
			<h1>Help</h1>
		</md-button>

	</div>
</md-toolbar>

<md-content layout="row">
	<md-sidenav md-disable-backdrop md-component-id="left-side-nav"
				class="md-sidenav-left md-whiteframe-14dp" md-is-locked-open="isDetailOpen">
		<md-content>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">Collapsible Group 1</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse2">Collapsible Group 2</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse3">Collapsible Group 3</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</div>
				</div>
			</div>

		</md-content>
	</md-sidenav>
	<md-content class="container body-content" flex style="padding: 10px;overflow-y: scroll">
		<span>Hello Content...!</span><br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>

	</md-content>

</md-content>

@*<md-toolbar layout="row">
	<md-button class="menu" ng-click="toggleSidenav();"><i class="material-icons">menu</i></md-button>
	<h3>Hello Toolbar</h3>
</md-toolbar>*@



@*<md-content id="body-part" flex layout="row" layout-fill>
	<md-sidenav md-disable-backdrop class="md-whiteframe-7dp" md-component-id="left-side-nav"
				flex style="background: cyan">
		<span>Hello Nav..!!</span>
		<span>Hello Nav..!!</span><br>
		<span>Hello Nav..!!</span><br>
		<span>Hello Nav..!!</span><br>
		<span>Hello Nav..!!</span><br>
		<span>Hello Nav..!!</span><br>
		<span>Hello Nav..!!</span><br>
	</md-sidenav>
	<div class="container body-content" flex style="padding: 10px;overflow-y: scroll; background: darkcyan">
		<span>Hello Content...!</span><br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>
		<span>Hello Content...!</span>
		<br>

		<br>
	</div>
</md-content>*@

<div>
	<h1>ASP.NET</h1>
	<p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and gives you full control over markup
			for enjoyable, agile development.
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>



