<div ng-cloak="" layout-gt-sm="row" layout="column">

    <div flex-gt-sm="20">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Miejscowość</span>
            </div>
        </md-toolbar>

        <md-content class="demo-dialog-list">
            <md-list class="md-1-line">
                <md-list-item ng-repeat="city in cityNames" ng-click="selectCity($index)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ city }}</h3>
                        <md-divider></md-divider>
                    </div>

            </md-list>
        </md-content>
    </div>

    <md-divider></md-divider>

    <div flex-gt-sm="25">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Przystanki</span>
            </div>
        </md-toolbar>
        <md-content class="demo-dialog-list">
            <md-list>
                <md-list-item class="md-1-line" ng-repeat="stop in stopList" ng-click="selectStop(stop)">
                    <div layout="column">
                        <h4>{{ stop }}</h4>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>


    </div>

    <md-divider></md-divider>

    <div flex-gt-sm="15">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Linie autobusowe</span>
            </div>
        </md-toolbar>
        <md-content class="demo-dialog-list">
            <md-list flex="">
                <md-list-item class="md-1-line" ng-repeat="bus in busNumbers" ng-click="seletBus($index)">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{ bus }}</h4>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>


    </div>

    <div flex-gt-sm="40">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Rozkład jazdy</span>
            </div>
        </md-toolbar>
        <md-content class="demo-dialog-list">
            <div class="panel-group" id="accordion2">
                <md-list-item class="md-1-line" ng-repeat="details in busLineDetails">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" ng-href="#{{ $index }}">{{ details.line }}</a>
                            </h4>
                            <p>kierunek {{ details.route }}</p>
                        </div>
                        <div ng-attr-id="{{ $index }}" class="panel-collapse collapse in">
                            <div class="panel-body">                             
                                <div ng-repeat="day in busTimeTable[$index]">
                                    <strong>{{ day.day }}</strong>
                                    <md-divider></md-divider>
                                    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="5" md-row-height-gt-md="1:1" md-row-height="2:2">
                                        <md-grid-tile ng-repeat="time in day.hour">
                                            <div>
                                                <p>{{ time }}</p>                                                
                                                <md-divider></md-divider>
                                            </div>
                                        </md-grid-tile>
                                    </md-grid-list>
                                </div>

                            </div>
                        </div>
                    </div>
                </md-list-item>

            </div>

        </md-content>


    </div>

</div>


