<div ng-controller="PanelController" ng-cloak="" layout-gt-sm="row" layout="column">

    <div flex-gt-sm="20">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Miejscowość</span>
            </div>
        </md-toolbar>

        <md-content class="demo-dialog-list">
            <md-list class="md-1-line">
                <md-list-item ng-repeat="city in getCities()" ng-click="selectedCity($index)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ city }}</h3>
                        <md-divider></md-divider>
                    </div>
                    
            </md-list>
        </md-content>
    </div>

    <md-divider></md-divider>

    <div flex-gt-sm="25">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Przystanki</span>
            </div>
        </md-toolbar>
        <md-content class="demo-dialog-list">
            <md-list flex="">
                <md-list-item class="md-1-line" ng-repeat="stop in getStops()" ng-click="selectedStop(stop)">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{ stop }}</h4>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>


    </div>

    <md-divider></md-divider>

    <div flex-gt-sm="20">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Linie autobusowe</span>
            </div>
        </md-toolbar>
        <md-content class="demo-dialog-list">
            <md-list flex="">
                <md-list-item class="md-1-line" ng-repeat="bus in busLines" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h4>{{ bus.line }}</h4>
                        <p>kierunek {{ bus.route }}</p>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>


    </div>

    <div flex-gt-sm="20">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Linie</span>
            </div>
        </md-toolbar>
        <md-content class="demo-dialog-list">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#leftCollapse3">Plan podróży</a>
                        </h4>
                    </div>
                    <div id="leftCollapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <md-content ng-controller="PlanController">
                                <strong>Data i czas:</strong>
                                <md-datepicker ng-model="myDate" md-placeholder="Wybierz datę"></md-datepicker>
                                <md-input-container>
                                    <label>Godzina</label>
                                    <input ng-model="time">
                                </md-input-container>

                                <md-divider></md-divider>
                                <strong>Miejsce rozpoczęcia:</strong>
                                <md-select placeholder="Miasto" ng-model="user" md-on-open="loadUsers()">
                                    <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                                </md-select>
                                <md-select placeholder="Przystanek początkowy" ng-model="user" md-on-open="loadUsers()">
                                    <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                                </md-select>
                                <md-button style="border: solid;">
                                    <strong>Wskaż na mapie</strong>
                                </md-button>
                                <md-divider></md-divider><br />
                                <strong>Cel:</strong>
                                <md-select placeholder="Miasto" ng-model="user" md-on-open="loadUsers()">
                                    <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                                </md-select>
                                <md-select placeholder="Przystanek początkowy" ng-model="user" md-on-open="loadUsers()">
                                    <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                                </md-select>
                                <md-button style="border: solid;">
                                    <strong>Wskaż na mapie</strong>
                                </md-button>
                                <md-divider></md-divider>
                                <md-button style="border: solid;">
                                    <strong>Znajdź połączenia</strong>
                                </md-button>
                            </md-content>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#leftCollapse4">Lista połączeń</a>
                        </h4>
                    </div>
                    <div id="leftCollapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <md-content>
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
                                    <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
                                        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ item.who }}</h3>
                                            <h4>{{ item.what }}</h4>
                                            <p>{{ item.notes }}</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                                <md-divider></md-divider>
                                <md-button style="border: solid;">
                                    <strong>Zapisz</strong>
                                </md-button>

                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

        </md-content>


    </div>

</div>


